li{
	LIST-STYLE-TYPE: none;
}
BODY {
	margin:0 auto;font-family:"Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;font-weight:400;color:#333;font-size:14px;-webkit-font-smoothing: subpixel-antialiased;-moz-osx-font-smoothing: auto;background-color:#E9FAFF;
}

div,ul,dl,dd,p,h1,h2,h3,h4,.text{zoom:1; margin:0;padding:0;}

address,cite,em {
	font-style:normal;
}

a{color:#6F78A7;text-decoration:none;}
a:hover {text-decoration:underline; top:-1px;}
img{border:none;}.clear{zoom:1;margin-bottom:10px;}

.wrap,.nav ul,.nav_type ul,.h_submenucon{width:980px;margin:0 auto;zoom:1;overflow:hidden;}
/*托盘0078B6*/
.header{padding:5px 0 8px;}
.header .wrap{position:relative;height:80px;overflow:hidden;}
.wrap .logo{float:left;xborder-right:1px solid #ddd;overflow:hidden;display:block;}
.wrap .logo a{background:url(/images/logo.png) no-repeat;display:block;float:left;height:80px;text-indent:-9999px;width:250px;}



.search{float:right; width:440px; padding-top:5px;}
.search .input{width:329px; font-size:14px; color:#c3c3c3; padding:0 10px; line-height:33px; height:33px; background:#fff; border:1px solid #d7d7d7; float:left; border-right:0;}
.search .s_btn{width:85px;height:33px;display:inline-block;z-index:0;vertical-align:top;border:solid 1px #d7d7d7;}
.search .button{width:85px; height:33px; padding-top:2px\9; border:0; font-size:14px; background-color: #f9f9f9; color: #999999; cursor:pointer; float:left;}
.srarchHot{ padding:17px 0 0; color:#666; width:730px; font-size:15px; float:left; overflow:hidden; text-align:right;}
.srarchHot a{ color:#666; padding:0 2px;}
.srarchHot a:hover{ color:#09c;}



.nav{overflow:hidden;margin-bottom:8px;}
.nav ul{background:#88C6E5;overflow:hidden;font-size:16px;font-family:宋体;}
.nav li{float:left;width:80px;text-align:center;margin-right:1px;line-height:42px;}
.nav li a{display:block;color:#ffffff;text-decoration:none;font-weight:700;}
.nav li a:hover{background:#68ACFA;}

.nav_type{overflow:hidden;}
.nav_type ul{line-height:34px;border-bottom:1px solid #459DF5;border-radius:20px;background:#fff;}
.nav_type li{float:left;width:70px;line-height:26px;margin:4px 10px;border-radius:20px;text-align:center;font-size:14px;}
.nav_type li a{display:block;color:#3471D1;text-decoration:none;}
.nav_type .this,.nav_type li:hover{background:#E5E0FF;}.nav_type .this a{color:#EE5E0F;}.nav_type .this a:hover{text-decoration:none;}

.h_submenucon{padding-left:8px;width:970px;text-align:center;border:1px solid #c0c0c0;border-top:none;font-family:宋体;font-size:12px;}


.wrap .bd{border:3px solid #C3DFEA;}.wrap .p10{padding:10px 0 0 10px;}
.hot{margin-bottom:8px;overflow:hidden;}
.hot .l{background:none repeat scroll 0 0 #FEF9EF;border:3px solid #C3DFEA;float:left;overflow:hidden;width:675px;padding:0 0 10px;}
.item{float:left;width:325px;height:156px;padding:0 10px 10px 0;position:relative;overflow:hidden;}
.item dl dt{border-bottom:1px dotted #A6D3E8;font-size:14px;font-weight:700;height:25px;line-height:25px;overflow:hidden;}
.item dl dt span{color:#999;float:right;font-weight:400;}
.item dl dd{height:120px;line-height:20px;overflow:hidden;padding:7px 0 0;color:#AAA;font-family:宋体;font-size:12px;}
.item dl{padding-left:140px;}
.item .image{position:absolute;top:10px;left:10px;}
.item .image img{width:120px;height:150px;background-color:#FFF;border:1px solid #DDD;padding:1px;}
.hot .r{border:3px solid #C3DFEA;float:right;width:290px;  background:#FEF9EF;}
.hot h2{background-color:#E1ECED;border-bottom:1px solid #DDD;font-size:14px;font-weight:700;height:30px;line-height:30px;overflow:hidden;margin:0;padding:0 0 0 10px;}
.lis {height:307px;}
.hot .ll{width:100%;padding:0 0 10px;overflow:hidden;}
.ll .item{ width:313px;}

/*list_col2*/
.list_col2 {
	height:307px;
	margin-top:4px;
	overflow:hidden;
}
.list_col2 .ranklist {
	float:left;
	width:120px;
	padding:0 0 0 10px;
}
.list_col2 .ranklist li {
	margin:7px 0 14px;
}
.list_col2 .ranklist_txt li {
	padding-right:0;
}
.ranklist {
	padding:15px 18px 0 13px;
}
.ranklist p {
	height:16px;
	overflow:hidden;
	padding-right:39px;
}
.ranklist p a {
	display:inline-block;
}
.ranklist li {
	position:relative;
	height:16px;
	padding:0 35px 0 28px;
	margin-bottom:8px;
	line-height:16px;
	overflow:hidden;
	vertical-align:bottom;
}
.ranklist li a {
	vertical-align:baseline;
}
.ranklist em {
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:18px;
	height:14px;
	font-size:11px;
	color:#929292;
	font-family:"Tahoma";
	line-height:13px;
	text-align:center;
	border:solid #c5c5c5 1px;
}
.list_col2 .ranklist .top em {
	width:20px;
	height:16px;
	background:#88C6E5;
	color:#fff !important;
	line-height:15px;
	font-weight:bold;
	border:none;
}

.type{ margin-bottom:8px; border:3px solid #A6D3E8;padding:1px; background:#FEF9EF;overflow:hidden;}
.type .block{ border-right:dotted 1px #A6D3E8; padding:4px; float:left; width:100%;overflow:hidden;}
.type .block ul{padding:5px;overflow:hidden;width:100%;border-bottom:solid 1px #DDDDDD;}
.type .block ul li{ color:#B3B3B3; height:20px; line-height:20px; font-size:12px; overflow:hidden; float:left; width:120px;}
.type .block ul li a{ font-size:13px;color:#6F78A7;}

.up{ margin: auto;}
.up .l{float:left;overflow:hidden;width:695px;border:3px solid #88C6E5;background:#E1ECED;}
.up .l ul{ padding:10px;}
.up .l li{ padding:5px 0px 0px 0px; border-bottom:solid 1px #DDDDDD; height:26px; line-height:26px; overflow:hidden;}
.up .l li span{ float:left; display:inline-block;}
.up .l li .s1{ width:75px;}
.up .l li .s2{ width:125px;}
.up .l li .s3{ width:250px;}
.up .l li .s4{ color:#B3B3B3; width:90px;text-align:right;}
.up .l li .s5{ color:#B3B3B3; float:right; text-align:right;}
.up .l li a{ color:#6F78A7;}
.up .r{ float:right; width:265px;border:3px solid #88C6E5; background:#E1ECED;}
.up .r ul{ padding:10px;}
.up .r li{ padding:5px 0px 0px 0px; border-bottom:solid 1px #DDDDDD; height:26px; line-height:26px; overflow:hidden;}
.up .r li span{ float:left; display:inline-block;}
.up .r li .s1{ width:40px;}
.up .r li .s2{ color:#B3B3B3;}
.up .r li .s3{ width:30px;}
.up .r li .s4{ width:50px; color:#B3B3B3;}
.up .r li .s5{ float:right; text-align:right;}
.up .r li a{ color:#6F78A7;}
.up h2{ margin:0px; overflow:hidden; padding:0px 0px 0px 10px; background-color:#A6D3E8; height:30px; line-height:30px; font-size:14px; font-weight:bold; border-bottom:solid 1px #DDDDDD;}


.rank .block{width:230px;float:left;margin-right:9px;margin-bottom:10px;border:3px solid #88C6E5;}
.rank h2{padding-left:10px;font-weight:bold;height:40px;line-height:40px;font-size:14px;background:#E1ECED;border-bottom:1px solid #88C6E5;}



.tli{padding:0px 10px 10px;overflow:hidden;}
.tli li{line-height:38px;border-bottom:1px dashed #CCC;position:relative;overflow:hidden;}
.tli li em{font-style:normal;background:#B0B0B0;position:absolute;top:10px;left:0px;width:22px;line-height:22px;text-align:center;color:#eee;font-size:12px;border-radius: 20px;}
.tli .top em{background:#FA744E;}
.tli li span{position:absolute;top:0px;right:0px;color:#888;}
.tli li a{padding-left:30px;width:100%;white-space:nowrap; text-overflow:ellipsis; /* for internet explorer */ overflow:hidden; display:block; }
.tlis li{float:left;width:220px;margin-right:20px;}



#book,.listmain{border:2px solid #88C6E5;margin:0 auto 10px;width:980px;overflow:hidden;}
.path{width:100%;margin: 0 auto;height:40px;line-height:40px;overflow:hidden;background:#E1ECED;border-bottom:1px solid #88C6E5;}.path .p{padding:0 6px;}
#maininfo{float:left;width:680px;}
#fmimg{float:left;width:140px;margin:10px;text-align:center;}
#fmimg img{height:150px;width:120px;padding:2px;border:1px solid #EAE4D1;}
#info{float:left;width:485px;padding:10px;font-size:15px;}
#info h1{font-family:黑体;font-size:28px;font-weight:700;overflow:hidden;margin:auto;padding:1px;}
#info p{height:25px;line-height:25px;padding-top:2px;width:485px;margin:auto;float:left;}
#intro{float:right;width:98%;margin-left:5px;border-top:1px dashed #88C6E5;_height:80px; min-height:80px;}
#intro p{text-indent:2em;line-height:150%;padding:5px;font-size:14px;}
#listtj{width:280px;font-size:13px;padding:5px;float:right;}
#listad{width:960px;font-size:13px;padding:5px;float:left;text-align:center;}
#listad a{margin:0 5px;}
#listtj a{margin:0 5px;}

.listmain dl{margin:2px;overflow:hidden;}
.listmain dl dt{width:100%;text-align:center;line-height:36px;border-bottom:1px dotted #459DF5;background:#C3DFEA;overflow:hidden;}
.listmain dl dd{float:left;padding: 0 10px;width:300px;line-height:36px;border-bottom:1px dashed #CCC;font-size:14px;display:block;white-space:nowrap; text-overflow:ellipsis; /* for internet explorer */ overflow:hidden;}
.listmain dd a:link{color:#444;}

.content h1{text-align:center;color:#CC3300;line-height:30px;margin:20px 0;}
.showtxt{width:920px;padding:10px 30px;line-height:200%;font-size:20px;border-top:1px dashed #CCC;border-bottom:1px dashed #CCC;overflow:hidden;}
.textinfo{margin:6px 0;font-size:12px;text-align:center;color:#999;}.textinfo a{color:#999;}.textinfo span{padding:0 10px;}


.page_chapter{width:600px;margin:20px auto;font-size:16px;overflow:hidden;}
.page_chapter li{float:left;width:20%;line-height:36px;margin:0 2%;text-align:center;background:#fff;border:1px solid #ccc;border-radius: 6px;cursor:pointer;}
.page_chapter li a{display:block;color:#3487DD;}
.page_chapter li a:hover{color:#CC2931;text-decoration:none;}


.oninfo{float:right;}.onsort{padding-right:6px;border:1px dashed #CCC;float:right;font-size:14px;color:#FF0000;padding-right:6px;}

.link{margin-top:5px;xheight:24px;line-height:24px;text-align:center;overflow:hidden;}
#footer,.link,.path{font-size:12px;color:#666;}
#footer {width:960px; margin: 10px auto;line-height: 20px;text-align:center;overflow:hidden;}
.link a,#footer a{color:#666;display:inline-block;padding-right:10px;}
#footer hr{border-top:1px dotted #3c3c3c;margin: 10px 0;}

*html{background-image:url(about:blank);background-attachment:fixed;}/*解决IE6下滚动抖动的问题*/
#tbox{width:47px; height:73px; float:right; position:fixed;right:151px;
_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
_margin-bottom:380px;
}/*解决IE6下不兼容 position:fixed 的问题*/
#jianyi{ width:47px; height:25px; background:url(/images/top05.png) no-repeat; position:absolute; top:49px; cursor:pointer}
#gotop{ width:47px; height:47px; background:url(/images/top01.png) no-repeat; position:absolute; top:0px; display:none; cursor:pointer} 
#jianyi:hover{ background:url(/images/top06.png) no-repeat;}
#gotop:hover{ background:url(/images/top02.png) no-repeat;}
#gobottom{ width:47px; height:47px; background:url(/images/top03.png) no-repeat; position:absolute; top:75px; cursor:pointer} 
#gobottom:hover{ background:url(/images/top04.png) no-repeat;}


/*临时书架*/
.wrap .bookcase{border:3px solid #88C6E5;overflow:hidden;}
.bookcase h2{padding-left:10px;font-size:14px;height:36px;line-height:36px;background:#E1ECED;border-bottom:1px solid #88C6E5;}
.bookbox {float:left;width:460px;overflow:hidden;border:1px dashed #CCC;margin:10px 10px;position:relative;}
.bookbox .num{position:absolute;top:12px;left:10px;width:22px;line-height:22px;border-radius: 4px;background:#FA744E;display:block;text-align:center;color:#eee;font-weight:bold}
.bookbox .bookinfo{padding-left:30px;font-size:14px;}
.bookname,.cat,.author,.update{padding:3px;}
.bookbox .delbutton{position:absolute;top:15px;right:10px;}
.bookbox .delbutton a{border:1px solid #FF4643;border-radius: 3px;padding:4px 10px;color:#FF4643;}
.bookbox .p10{padding:10px;overflow:hidden;}.bookbox div{color:#888;}
.noshow{display:none;}
.bookbox .bookimg{position:absolute;top:12px;left:10px;margin-right:10px;}
.bookbox .bookimg img{width:120px;height:150px;}
.so_list .bookinfo{padding-left:130px;height:156px;overflow:hidden;}

.book_more{width:90%;margin:10px auto;line-height:42px;background:#88C6E5;border-radius:6px;overflow:hidden;}.book_more a{text-align:center;display:block;color:#EEE;font-size:16px;}

.MessageDiv {background: #FFF9D9; border: 1px solid #FFCC33; line-height: 150%; width:800px; margin: 10px auto auto; padding: 10px;text-align:center;}
.novellist{ margin: 10px auto; width:968px;  padding:3px; }
.novellist h2 {background-color: #F6F8FE; border-bottom: 1px solid #DDDDDD; font-size: 14px; font-weight: bold; height: 30px; line-height: 30px; overflow: hidden; padding: 0 0 0 10px;}
.novellist ul{ padding:10px;}
.novellist li{float:left; color:#B3B3B3; padding:5px 0px 0px 0px; border-bottom:solid 1px #DDDDDD; height:25px; width:20%;  line-height:25px; overflow:hidden; display:inline-block; }
.novellist li a:link { color:#6F78A7; TEXT-DECORATION: none;}
.novellist li a:visited { COLOR: red; }

.ywtop{margin-bottom:0px;background-color:#E1ECED;border-bottom:1px solid #A6D3E8;color:gray;height:28px;min-width:980px;width:100%;}
.ywtop_con{line-height:28px;vertical-align:middle;width:980px;margin:0 auto;}
.ywtop_sethome{background-position:0 8px;display:inline;float:left;margin-right:20px;}
.ywtop a{color:gray;}
.ywtop_addfavorite{background-position:0 -12px;display:inline;float:left;}
.nri{float:right;font-size:13px;}
.nri .cc{float:left;overflow:hidden;width:155px;}
.cc .txt{color:gray;float:left;text-align:right;}
.cc .inp{float:left;padding-top:3px;width:90px;}
.inp input{background-color:#FFF;border:1px solid #A6D3E8;float:left;height:18px;width:87px;margin:1px 0;}
.nri .frii{float:left;font-size:14px;margin-left:5px;padding-top:3px;width:55px;}
.frii .int{float:left;font-size:12px;height:21px;line-height:21px;text-align:center;width:51px;}
.nri .ccc{float:left;overflow:hidden;padding-left:10px;}
.ccc .txtt{color:gray;float:left;padding-left:10px;}
.txtt a,.txtt a:hover{color:gray;text-decoration:none;}
table.grid caption, .gridtop { background-color:#E1ECED; border:solid 2px #C3DFEA;border-bottom:0px; font-size: 14px; font-weight: bold; margin: auto; padding-bottom: 5px; padding-top: 5px; text-align: center; vertical-align: middle;}
table.grid { border: 2px solid #C3DFEA; border-collapse: collapse; margin: auto; padding: 3px;}
table.grid td { background-color: #FFFFFF !important; border: 1px solid #C3DFEA; padding: 4px;}
.hottext{color:red;}

.read_book ul{ padding:10px;background:#FEF9EF;}
.read_book li{ padding:5px 0px 0px 0px; border-bottom:solid 1px #DDDDDD; height:25px; line-height:25px; overflow:hidden;}
.read_book li span{ float:left; display:inline-block;}
.read_book li .s1{ width:10%;overflow:hidden;}
.read_book li .s2{ width:15%;overflow:hidden;}
.read_book li .s3{ width:25%;overflow:hidden;}
.read_book li .s4{ width:10%;overflow:hidden;}
.read_book li .s5{ width:23%;overflow:hidden;}
.read_book li .s6{ width:10%; overflow:hidden;}
.read_book li .s7{ width:7%;overflow:hidden;}
.read_book li a{ color:#6F78A7;}