
body {
	margin: 0;
	padding: 0;
	background-color: #444;
	font-size: 80px;
}
#main {
	width: 600px;
	height: 180px;
	border: 40px solid #999;
	border-radius: 60px;
	box-shadow: 10px 14px 12px #777;
	margin: 100px auto;
	background-color: #FFF;
	
}
.content {
	width: 580px;
	height: 160px;
	margin: 15px 8px;
	padding: 0 10px;
}
.date {
	width: 70px;
	height: 160px;
	margin-left: 2px;
	float: left;
}
img {
	display: block;
	width: 60px;
	height: 110px;
	margin: 20px 0;
	
}
span {
	display: block;
	float: left;
	color: #555;
	height: 110px;
	line-height: 110px;
	margin: 12px 10px;
}